* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a2c;
}

.container {
    padding: 1% 2%;
    columns: 2 350px;
    column-gap: 2rem;
}

.post {
    margin: 0 1rem 1rem 0;
    display: inline-block;
    width: 100%;
    padding: 2% 5% 2% 20%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    position: relative;
}

.post>p {
    font-size: 18px;
    text-align: justify;
}

.commentSection {
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 10px;
}

.comment {
    background-color: rgba(117, 117, 117, 0.103);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.comment>* {
    padding: 3px 10px;
}

p.postTitle {
    margin-bottom: 2%;
    padding: 2% 0;
    font-size: 20px;
    font-family: 'Yeseva One', cursive;
    border-radius: 5px;
}

.date {
    margin-left: 30px;
    font-size: 16px;
    font-family: 'Crimson Text', serif;
}

.postText {
    font-family: 'Crimson Text', serif;
    color: #3301019d;
    margin: 2% 0;
}

a {
    text-decoration: none;
    font-size: 14px;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    position: absolute;
    top: 20px;
    left: 30px;
    object-fit: cover;
}