* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a2c;
}

.container {
    padding: 0 2%;
    columns: 3 200px;
    column-gap: 1rem;
    border-radius: 5px;
}

.post {
    margin: 0 1rem 1rem 0;
    display: inline-block;
    width: 100%;
    padding: 2%;
    background-color: #3131313a;
}

.post>p {
    margin: 3px 3px;
}

.commentSection {
    width: 100%;
    height: auto;
    padding: 5px;
    border-radius: 10px;
}

.comment {
    background-color: #f5f5f51a;
    margin-bottom: 2px;
    border-radius: 10px;
}

.postTitle {
    margin-bottom: 2%;
    padding: 2%;
    font-size: 20px;
    font-family: 'Yeseva One', cursive;
    color: #FFF;
    border-radius: 5px;
}

.postText {
    font-family: 'Crimson Text', serif;
    color: #3301019d;
}